## Explorar las bases de datos

Este es un notebook auxiliar para explorar las bases de datos en sus distintos niveles de agregación, en su estado actual.

In [2]:
from scripts.create_indicators import get_or_create_indicators_df
import pandas as pd

PyTables is not installed. No support for HDF output.

In [3]:
df_radio = get_or_create_indicators_df("RADIO")
df_frac = get_or_create_indicators_df("FRAC")
df_comuna = get_or_create_indicators_df("DPTO")
df_caba = get_or_create_indicators_df("PROV")

In [3]:
df_radio.columns

Index([u'inact', u'ocup_viv', u'0_14', u'15_64', u'mas_65', u'hab',
       u'con_satisf', u'con_basica', u'con_insuf', u'serv_satisf',
       u'serv_basica', u'serv_insuf', u'nbi', u'hac-149', u'hac+150',
       u'd_subte', u'd_metrobus', u'd_ffcc', u'escolaridad', u'educ_sup',
       u'compu', u'nse_mex', u'nse_mex_cat', u'reach_area', u'COMERCIAL',
       u'INDUSTRIAL', u'SERVICIOS', u'OTROS', u'educ_priv', u'educ_pub',
       u'hospitales', u'esp_verde', u'nse_alt', u'RESIDENCIAL', u'hab_km2',
       u'reach_prop', u'CO_FRAC_RA', u'empleo', u'DECIL', u'desocup', u'AREA',
       u'area_km2'],
      dtype='object')

In [4]:
trabajo = ["empleo", "desocup", "inact"]
edad = ["0_14", "15_64", "mas_65"]
vivienda = ["con_satisf", "con_basica", "con_insuf", "hac+150", "hac-149", "serv_satisf",
            "serv_insuf", "serv_basica", "ocup_viv"]
socioeconomicos = ["nbi", "nse_alt", "nse_mex", "nse_mex_cat", "educ_sup", "compu", "escolaridad"]
transporte = ["d_subte", "d_metrobus", "d_ffcc", "reach_area"]
uso_suelo = ["COMERCIAL", "INDUSTRIAL", "OTROS", "SERVICIOS", "RESIDENCIAL"]
densidad = ["area_km2", "hab", "hab_km2"]

resto = df_radio.columns - pd.Index((trabajo + edad + edad + vivienda + socioeconomicos + 
                                     transporte + uso_suelo + densidad))
resto

/Users/abenassi/anaconda/envs/tod/lib/python2.7/site-packages/ipykernel/__main__.py:11: FutureWarning: using '-' to provide set differences with Indexes is deprecated, use .difference()

Index([u'AREA', u'CO_FRAC_RA', u'DECIL', u'educ_priv', u'educ_pub',
       u'esp_verde', u'hospitales', u'reach_prop'],
      dtype='object')

In [5]:
df_radio[transporte].describe()

           d_subte   d_metrobus       d_ffcc   reach_area
count  3554.000000  3554.000000  3554.000000  3554.000000
mean   1271.350369  1454.637649  1061.834984    36.130624
std    1299.627568   915.044581   533.751876    23.072104
min       0.000000     0.000000     0.000000     0.000000
25%     364.427397   696.015938   636.682819    19.273604
50%     725.157176  1383.412679  1017.853325    35.059950
75%    1760.821307  2057.768187  1457.115122    50.870438
max    5864.542096  5317.393474  3217.111978   126.354623

In [6]:
df_radio[uso_suelo].describe()

         COMERCIAL   INDUSTRIAL        OTROS    SERVICIOS  RESIDENCIAL
count  3461.000000  3461.000000  3461.000000  3461.000000  3461.000000
mean      0.128551     0.008971     0.089870     0.154489     0.617831
std       0.138415     0.015799     0.103773     0.104540     0.218489
min       0.000000     0.000000     0.000000     0.000000     0.000000
25%       0.030984     0.000000     0.033221     0.080969     0.477172
50%       0.082479     0.003265     0.064045     0.135713     0.655425
75%       0.182296     0.011237     0.108401     0.205472     0.787019
max       0.897467     0.175978     1.000000     1.000000     1.000000

In [7]:
df_radio[densidad].describe()

          area_km2          hab        hab_km2
count  3554.000000  3554.000000    3554.000000
mean      0.057354   813.210748   27474.770553
std       0.151590   292.823849   19280.700159
min       0.004468     0.000000       0.000000
25%       0.018628   646.250000   13175.152548
50%       0.035550   786.000000   21654.854300
75%       0.062851   928.000000   38092.448591
max       3.804692  3945.000000  163216.397275

In [8]:
df_frac[densidad].describe()

         area_km2           hab       hab_km2
count  351.000000    351.000000    351.000000
mean     0.580781   8234.048433  23213.463342
std      0.635433   2339.631842  13533.829067
min      0.085778     25.000000      3.960958
25%      0.229147   7002.500000  13324.296883
50%      0.420517   7994.000000  19753.627695
75%      0.687977   9233.500000  32335.177066
max      6.311604  24268.000000  64195.863419

In [9]:
print "Area total radio:", df_radio.area_km2.sum(), df_radio.AREA.sum() 
print "Area total fracción:", df_frac.area_km2.sum(), df_frac.AREA.sum() 
print "Area total comuna:", df_comuna.area_km2.sum(), df_comuna.AREA.sum()
print "Area total caba:", df_caba.area_km2.sum(), df_caba.AREA.sum()

Area total radio: 203.83747579 203837475.79
Area total fracción: 203.853994556 203853994.556
Area total comuna: 203.760735542 203760735.542
Area total caba: 407.521471085 407521471.085

In [10]:
print "Población total radio:", df_radio.hab.sum() 
print "Población total fracción:", df_frac.hab.sum() 
print "Población total comuna:", df_comuna.hab.sum()
print "Población total caba:", df_caba.hab.sum()

Población total radio: 2890151.0
Población total fracción: 2890151.0
Población total comuna: 2890151.0
Población total caba: 2890151.0

In [11]:
print "Densidad hab/km2", df_caba.hab.sum() / df_caba.area_km2.sum()

Densidad hab/km2 7092.02141498

In [12]:
df_caba.columns

Index([u'empleo', u'desocup', u'inact', u'ocup_viv', u'0_14', u'15_64',
       u'mas_65', u'hab', u'con_satisf', u'con_basica', u'con_insuf',
       u'serv_satisf', u'serv_basica', u'serv_insuf', u'nbi', u'hac-149',
       u'hac+150', u'd_subte', u'd_metrobus', u'd_ffcc', u'escolaridad',
       u'educ_sup', u'compu', u'nse_mex', u'nse_mex_cat', u'reach_area',
       u'COMERCIAL', u'INDUSTRIAL', u'SERVICIOS', u'OTROS', u'esp_verde',
       u'nse_alt', u'RESIDENCIAL', u'area_km2', u'hab_km2', u'AREA',
       u'reach_prop', u'DECIL'],
      dtype='object')

In [13]:
df_comuna.columns

Index([u'empleo', u'desocup', u'inact', u'ocup_viv', u'0_14', u'15_64',
       u'mas_65', u'hab', u'con_satisf', u'con_basica', u'con_insuf',
       u'serv_satisf', u'serv_basica', u'serv_insuf', u'nbi', u'hac-149',
       u'hac+150', u'hospitales', u'educ_priv', u'educ_pub', u'hab_km2',
       u'd_subte', u'd_metrobus', u'd_ffcc', u'escolaridad', u'educ_sup',
       u'compu', u'nse_mex', u'nse_mex_cat', u'reach_area', u'COMERCIAL',
       u'INDUSTRIAL', u'SERVICIOS', u'OTROS', u'esp_verde', u'nse_alt',
       u'RESIDENCIAL', u'reach_prop', u'COMUNAS', u'AREA', u'area_km2',
       u'DECIL'],
      dtype='object')

In [14]:
df_radio.columns

Index([u'inact', u'ocup_viv', u'0_14', u'15_64', u'mas_65', u'hab',
       u'con_satisf', u'con_basica', u'con_insuf', u'serv_satisf',
       u'serv_basica', u'serv_insuf', u'nbi', u'hac-149', u'hac+150',
       u'd_subte', u'd_metrobus', u'd_ffcc', u'escolaridad', u'educ_sup',
       u'compu', u'nse_mex', u'nse_mex_cat', u'reach_area', u'COMERCIAL',
       u'INDUSTRIAL', u'SERVICIOS', u'OTROS', u'educ_priv', u'educ_pub',
       u'hospitales', u'esp_verde', u'nse_alt', u'RESIDENCIAL', u'hab_km2',
       u'reach_prop', u'CO_FRAC_RA', u'empleo', u'DECIL', u'desocup', u'AREA',
       u'area_km2'],
      dtype='object')

In [15]:
df_radio[["reach_area", "reach_prop"]].head()

            reach_area  reach_prop
Unnamed: 0
020010101    39.531283    0.194008
020010201    20.301866    0.099636
020010202    11.840268    0.058109
020010203    11.751906    0.057675
020010204    20.447229    0.100349

In [16]:
def weighted_average(df, field, weight_field):
    return ((df[field] * df[weight_field]) / df[weight_field].sum()).sum()

print weighted_average(df_radio, "esp_verde", "AREA")
print weighted_average(df_frac, "esp_verde", "AREA")
print weighted_average(df_comuna, "esp_verde", "AREA")
print weighted_average(df_caba, "esp_verde", "AREA")

0.105300164922
0.105295371776
0.105189291411
0.105300164922

In [17]:
df_radio[df_radio["hab"] == 0][["RESIDENCIAL", "COMERCIAL", "SERVICIOS", "INDUSTRIAL", "OTROS"]]

            RESIDENCIAL  COMERCIAL  SERVICIOS  INDUSTRIAL  OTROS
Unnamed: 0
020011315      0.218825    0.22494   0.443765     0.11247      0
020141002      0.000000    0.00000   0.000000     0.00000      0

In [18]:
def change_id(value):
    co, frac, ra = value.split("_")
    return "02" + "".join([co.zfill(3), frac.zfill(2), ra.zfill(2)])

In [19]:
df_radio[pd.isnull(df_radio.desocup)]

Empty DataFrame
Columns: [inact, ocup_viv, 0_14, 15_64, mas_65, hab, con_satisf, con_basica, con_insuf, serv_satisf, serv_basica, serv_insuf, nbi, hac-149, hac+150, d_subte, d_metrobus, d_ffcc, escolaridad, educ_sup, compu, nse_mex, nse_mex_cat, reach_area, COMERCIAL, INDUSTRIAL, SERVICIOS, OTROS, educ_priv, educ_pub, hospitales, esp_verde, nse_alt, RESIDENCIAL, hab_km2, reach_prop, CO_FRAC_RA, empleo, DECIL, desocup, AREA, area_km2]
Index: []

[0 rows x 42 columns]

In [20]:
#from scripts.path_finders import get_indicators_path
#df_comuna.drop_duplicates("COMUNAS", keep="first").to_csv(get_indicators_path("DPTO"), encoding="utf-8")

In [21]:
len(df_radio), len(df_frac), len(df_comuna)

(3554, 351, 15)

In [28]:
def check_null_values(df, indic):
    nulls = df[pd.isnull(df[indic])][indic]
    print "{}/{} ({:.2%}) NaNs in {}".format(len(nulls), len(df), len(nulls)/float(len(df)), indic)
    return nulls

In [29]:
check_null_values(df_radio, "nse_mex_cat")

3/3554 (0.08%) NaNs in nse_mex_cat

Unnamed: 0
020011302   NaN
020041008   NaN
020041801   NaN
Name: nse_mex_cat, dtype: float64

In [30]:
check_null_values(df_radio, "nse_alt")

0/3554 (0.00%) NaNs in nse_alt

Series([], Name: nse_alt, dtype: int64)

In [31]:
check_null_values(df_radio, "DECIL")

1/3554 (0.03%) NaNs in DECIL

Unnamed: 0
020011302   NaN
Name: DECIL, dtype: float64

In [36]:
check_null_values(df_radio, "RESIDENCIAL")

93/3554 (2.62%) NaNs in RESIDENCIAL

Unnamed: 0
020010201   NaN
020010203   NaN
020010205   NaN
020010206   NaN
020010207   NaN
020010208   NaN
020010209   NaN
020010210   NaN
020010211   NaN
020010213   NaN
020010214   NaN
020010215   NaN
020010216   NaN
020010217   NaN
020010218   NaN
020010219   NaN
020010301   NaN
020010302   NaN
020010303   NaN
020010304   NaN
020010305   NaN
020010306   NaN
020010307   NaN
020010308   NaN
020010309   NaN
020010310   NaN
020010311   NaN
020010312   NaN
020010313   NaN
020010314   NaN
             ..
020071708   NaN
020071709   NaN
020071711   NaN
020071803   NaN
020071805   NaN
020071807   NaN
020071811   NaN
020080106   NaN
020080206   NaN
020080509   NaN
020080511   NaN
020080704   NaN
020080705   NaN
020080707   NaN
020080708   NaN
020081402   NaN
020081502   NaN
020081504   NaN
020081601   NaN
020081602   NaN
020081603   NaN
020081604   NaN
020081605   NaN
020081606   NaN
020081607   NaN
020081608   NaN
020081609   NaN
020091408   NaN
020121903   NaN
020132909   NaN
Name: RESIDENCIAL, dtype: float64