## Explorar las bases de datos

Este es un notebook auxiliar para explorar las bases de datos en sus distintos niveles de agregación, en su estado actual.

In [1]:
from scripts.create_indicators import get_or_create_indicators_df
import pandas as pd

In [2]:
df_radio = get_or_create_indicators_df("RADIO")
df_frac = get_or_create_indicators_df("FRAC")
df_comuna = get_or_create_indicators_df("DPTO")
df_caba = get_or_create_indicators_df("PROV")

In [3]:
df_radio.columns

Index([     u'empleo',     u'desocup',       u'inact',    u'ocup_viv',
              u'0_14',       u'15_64',      u'mas_65',         u'hab',
        u'con_satisf',  u'con_basica',   u'con_insuf', u'serv_satisf',
       u'serv_basica',  u'serv_insuf',         u'nbi',     u'hac-149',
           u'hac+150',     u'd_subte',  u'd_metrobus',      u'd_ffcc',
       u'escolaridad',    u'educ_sup',       u'compu',     u'nse_mex',
       u'nse_mex_cat',  u'reach_area',   u'COMERCIAL',  u'INDUSTRIAL',
         u'SERVICIOS',       u'OTROS',   u'educ_priv',    u'educ_pub',
        u'hospitales',   u'esp_verde',     u'nse_alt', u'RESIDENCIAL',
              u'AREA',    u'area_km2',     u'hab_km2',  u'reach_prop',
        u'CO_FRAC_RA'],
      dtype='object')

In [4]:
trabajo = ["empleo", "desocup", "inact"]
edad = ["0_14", "15_64", "mas_65"]
vivienda = ["con_satisf", "con_basica", "con_insuf", "hac+150", "hac-149", "serv_satisf",
            "serv_insuf", "serv_basica", "ocup_viv"]
socioeconomicos = ["nbi", "nse_alt", "nse_mex", "nse_mex_cat", "educ_sup", "compu", "escolaridad"]
transporte = ["d_subte", "d_metrobus", "d_ffcc", "reach_area"]
uso_suelo = ["COMERCIAL", "INDUSTRIAL", "OTROS", "SERVICIOS", "RESIDENCIAL"]
densidad = ["area_km2", "hab", "hab_km2"]

resto = df_radio.columns - pd.Index((trabajo + edad + edad + vivienda + socioeconomicos + 
                                     transporte + uso_suelo + densidad))
resto

/Users/abenassi/anaconda/envs/tod/lib/python2.7/site-packages/pandas/core/index.py:1353: FutureWarning: using '-' to provide set differences with Indexes is deprecated, use .difference()
  "use .difference()",FutureWarning)

Index([      u'AREA', u'CO_FRAC_RA',  u'educ_priv',   u'educ_pub',
        u'esp_verde', u'hospitales', u'reach_prop'],
      dtype='object')

In [5]:
df_radio[transporte].describe()

           d_subte   d_metrobus       d_ffcc   reach_area
count  3553.000000  3553.000000  3553.000000  3553.000000
mean   1271.708194  1455.047060  1062.133840    36.140793
std    1299.635393   914.847765   533.529527    23.067384
min       3.346759    30.477260    24.428309     0.282289
25%     364.462650   696.377684   636.938242    19.327079
50%     725.517135  1383.497048  1017.863503    35.080862
75%    1760.983487  2057.858048  1457.335769    50.879613
max    5864.542096  5317.393474  3217.111978   126.354623

In [6]:
df_radio[uso_suelo].describe()

         COMERCIAL   INDUSTRIAL        OTROS    SERVICIOS  RESIDENCIAL
count  3460.000000  3460.000000  3460.000000  3460.000000  3460.000000
mean      0.128588     0.008973     0.089896     0.154533     0.618009
std       0.138418     0.015800     0.103776     0.104522     0.218268
min       0.000000     0.000000     0.000000     0.000000     0.000000
25%       0.031033     0.000000     0.033223     0.081124     0.477187
50%       0.082502     0.003265     0.064045     0.135726     0.655530
75%       0.182329     0.011239     0.108427     0.205480     0.787030
max       0.897467     0.175978     1.000000     1.000000     1.000000

In [7]:
df_radio[densidad].describe()

          area_km2          hab        hab_km2
count  3553.000000  3553.000000    3553.000000
mean      0.056411   813.439628   27482.503390
std       0.140794   292.546944   19277.901315
min       0.004468     0.000000       0.000000
25%       0.018626   647.000000   13188.747628
50%       0.035542   786.000000   21690.827613
75%       0.062824   928.000000   38093.732702
max       3.804692  3945.000000  163216.397275

In [8]:
df_frac[densidad].describe()

         area_km2           hab       hab_km2
count  351.000000    351.000000    351.000000
mean     0.580781   8234.048433  23213.463342
std      0.635433   2339.631842  13533.829067
min      0.085778     25.000000      3.960958
25%      0.229147   7002.500000  13324.296883
50%      0.420517   7994.000000  19753.627695
75%      0.687977   9233.500000  32335.177066
max      6.311604  24268.000000  64195.863419

In [9]:
print "Area total radio:", df_radio.area_km2.sum(), df_radio.AREA.sum() 
print "Area total fracción:", df_frac.area_km2.sum(), df_frac.AREA.sum() 
print "Area total comuna:", df_comuna.area_km2.sum(), df_comuna.AREA.sum()
print "Area total caba:", df_caba.area_km2.sum(), df_caba.AREA.sum()

Area total radio: 200.428744499 200428744.499
Area total fracción: 203.853994556 203853994.556
Area total comuna: 203.760735542 203760735.542
Area total caba: 203.760735542 203760735.542

In [10]:
print "Población total radio:", df_radio.hab.sum() 
print "Población total fracción:", df_frac.hab.sum() 
print "Población total comuna:", df_comuna.hab.sum()
print "Población total caba:", df_caba.hab.sum()

Población total radio: 2890151.0
Población total fracción: 2890151.0
Población total comuna: 2890151.0
Población total caba: 2890151.0

In [11]:
print "Densidad hab/km2", df_caba.hab.sum() / df_caba.area_km2.sum()

Densidad hab/km2 14184.04283

In [12]:
df_caba.columns

Index([     u'empleo',     u'desocup',       u'inact',    u'ocup_viv',
              u'0_14',       u'15_64',      u'mas_65',         u'hab',
        u'con_satisf',  u'con_basica',   u'con_insuf', u'serv_satisf',
       u'serv_basica',  u'serv_insuf',         u'nbi',     u'hac-149',
           u'hac+150',     u'd_subte',  u'd_metrobus',      u'd_ffcc',
       u'escolaridad',    u'educ_sup',       u'compu',     u'nse_mex',
       u'nse_mex_cat',  u'reach_area',   u'COMERCIAL',  u'INDUSTRIAL',
         u'SERVICIOS',       u'OTROS',   u'esp_verde',     u'nse_alt',
       u'RESIDENCIAL',    u'area_km2',     u'hab_km2',        u'AREA',
        u'reach_prop'],
      dtype='object')

In [13]:
df_comuna.columns

Index([    u'COMUNAS',      u'empleo',     u'desocup',       u'inact',
          u'ocup_viv',        u'0_14',       u'15_64',      u'mas_65',
               u'hab',  u'con_satisf',  u'con_basica',   u'con_insuf',
       u'serv_satisf', u'serv_basica',  u'serv_insuf',         u'nbi',
           u'hac-149',     u'hac+150',  u'hospitales',   u'educ_priv',
          u'educ_pub',    u'area_km2',     u'hab_km2',     u'd_subte',
        u'd_metrobus',      u'd_ffcc', u'escolaridad',    u'educ_sup',
             u'compu',     u'nse_mex', u'nse_mex_cat',  u'reach_area',
         u'COMERCIAL',  u'INDUSTRIAL',   u'SERVICIOS',       u'OTROS',
         u'esp_verde',     u'nse_alt', u'RESIDENCIAL',        u'AREA',
        u'reach_prop'],
      dtype='object')

In [14]:
df_radio.columns

Index([     u'empleo',     u'desocup',       u'inact',    u'ocup_viv',
              u'0_14',       u'15_64',      u'mas_65',         u'hab',
        u'con_satisf',  u'con_basica',   u'con_insuf', u'serv_satisf',
       u'serv_basica',  u'serv_insuf',         u'nbi',     u'hac-149',
           u'hac+150',     u'd_subte',  u'd_metrobus',      u'd_ffcc',
       u'escolaridad',    u'educ_sup',       u'compu',     u'nse_mex',
       u'nse_mex_cat',  u'reach_area',   u'COMERCIAL',  u'INDUSTRIAL',
         u'SERVICIOS',       u'OTROS',   u'educ_priv',    u'educ_pub',
        u'hospitales',   u'esp_verde',     u'nse_alt', u'RESIDENCIAL',
              u'AREA',    u'area_km2',     u'hab_km2',  u'reach_prop',
        u'CO_FRAC_RA'],
      dtype='object')

In [15]:
df_radio[["reach_area", "reach_prop"]].head()

           reach_area  reach_prop
Código
020010101   39.531283    0.194008
020010201   20.301866    0.099636
020010202   11.840268    0.058109
020010203   11.751906    0.057675
020010204   20.447229    0.100349

In [16]:
def weighted_average(df, field, weight_field):
    return ((df[field] * df[weight_field]) / df[weight_field].sum()).sum()

print weighted_average(df_radio, "esp_verde", "AREA")
print weighted_average(df_frac, "esp_verde", "AREA")
print weighted_average(df_comuna, "esp_verde", "AREA")
print weighted_average(df_caba, "esp_verde", "AREA")

0.10709102565
0.113042932757
0.107827836977
0.10709102565

In [18]:
len(df_radio)

3553