## Explorar las bases de datos

Este es un notebook auxiliar para explorar las bases de datos en sus distintos niveles de agregación, en su estado actual.

In [21]:
from scripts.create_indicators import get_or_create_indicators_df
import pandas as pd

In [22]:
df_radio = get_or_create_indicators_df("RADIO")
df_frac = get_or_create_indicators_df("FRAC")
df_comuna = get_or_create_indicators_df("DPTO")
df_caba = get_or_create_indicators_df("PROV")

In [23]:
df_radio.columns

Index([     u'empleo',     u'desocup',       u'inact',    u'ocup_viv',
              u'0_14',       u'15_64',      u'mas_65',         u'hab',
        u'con_satisf',  u'con_basica',   u'con_insuf', u'serv_satisf',
       u'serv_basica',  u'serv_insuf',         u'nbi',     u'hac-149',
           u'hac+150',     u'd_subte',  u'd_metrobus',      u'd_ffcc',
       u'escolaridad',    u'educ_sup',       u'compu',     u'nse_mex',
       u'nse_mex_cat',  u'reach_area',   u'COMERCIAL',  u'INDUSTRIAL',
         u'SERVICIOS',       u'OTROS',   u'educ_priv',    u'educ_pub',
        u'hospitales',   u'esp_verde',     u'nse_alt', u'RESIDENCIAL',
        u'CO_FRAC_RA',        u'AREA',    u'area_km2',     u'hab_km2'],
      dtype='object')

In [24]:
trabajo = ["empleo", "desocup", "inact"]
edad = ["0_14", "15_64", "mas_65"]
vivienda = ["con_satisf", "con_basica", "con_insuf", "hac+150", "hac-149", "serv_satisf",
            "serv_insuf", "serv_basica", "ocup_viv"]
socioeconomicos = ["nbi", "nse_alt", "nse_mex", "nse_mex_cat", "educ_sup", "compu", "escolaridad"]
transporte = ["d_subte", "d_metrobus", "d_ffcc", "reach_area"]
uso_suelo = ["COMERCIAL", "INDUSTRIAL", "OTROS", "SERVICIOS", "RESIDENCIAL"]
densidad = ["area_km2", "hab", "hab_km2"]

resto = df_radio.columns - pd.Index((trabajo + edad + edad + vivienda + socioeconomicos + 
                                     transporte + uso_suelo + densidad))
resto

Index([u'AREA', u'CO_FRAC_RA', u'educ_priv', u'educ_pub', u'esp_verde',
       u'hospitales'],
      dtype='object')

In [25]:
df_radio[transporte].describe()

           d_subte   d_metrobus       d_ffcc   reach_area
count  3553.000000  3553.000000  3553.000000  3553.000000
mean   1271.708194  1455.047060  1062.133840    36.140793
std    1299.635393   914.847765   533.529527    23.067384
min       3.346759    30.477260    24.428309     0.282289
25%     364.462650   696.377684   636.938242    19.327079
50%     725.517135  1383.497048  1017.863503    35.080862
75%    1760.983487  2057.858048  1457.335769    50.879613
max    5864.542096  5317.393474  3217.111978   126.354623

In [26]:
df_radio[uso_suelo].describe()

         COMERCIAL   INDUSTRIAL        OTROS    SERVICIOS  RESIDENCIAL
count  3464.000000  3464.000000  3464.000000  3464.000000  3464.000000
mean      0.130197     0.008850     0.083755     0.167496     0.609688
std       0.141649     0.015308     0.095084     0.118842     0.224076
min       0.000000     0.000000     0.000000     0.000000     0.000000
25%       0.031025     0.000000     0.030119     0.084742     0.459211
50%       0.081137     0.003545     0.059400     0.147886     0.645607
75%       0.184390     0.011459     0.102072     0.224756     0.785329
max       0.896977     0.195293     1.000000     1.000000     1.000000

In [27]:
df_radio[densidad].describe()

          area_km2          hab        hab_km2
count  3553.000000  3553.000000    3553.000000
mean      0.056411   813.439628   27482.503390
std       0.140794   292.546944   19277.901315
min       0.004468     0.000000       0.000000
25%       0.018626   647.000000   13188.747628
50%       0.035542   786.000000   21690.827613
75%       0.062824   928.000000   38093.732702
max       3.804692  3945.000000  163216.397275

In [28]:
df_frac[densidad].describe()

         area_km2           hab       hab_km2
count  351.000000    351.000000    351.000000
mean     0.580781   8234.048433  23213.463342
std      0.635433   2339.631842  13533.829067
min      0.085778     25.000000      3.960958
25%      0.229147   7002.500000  13324.296883
50%      0.420517   7994.000000  19753.627695
75%      0.687977   9233.500000  32335.177066
max      6.311604  24268.000000  64195.863419

In [29]:
print "Area total radio:", df_radio.area_km2.sum() 
print "Area total fracción:", df_frac.area_km2.sum() 
print "Area total comuna:", df_comuna.area_km2.sum()

Area total radio: 200.428744499
Area total fracción: 203.853994556
Area total comuna: 203.760735542

In [30]:
print "Población total radio:", df_radio.hab.sum() 
print "Población total fracción:", df_frac.hab.sum() 
print "Población total comuna:", df_comuna.hab.sum()

Población total radio: 2890151.0
Población total fracción: 2890151.0
Población total comuna: 2890151.0